.mat-step-header .mat-step-icon-selected{
  background-color: red !important;
  color: white;
}

mat-card-title {
  text-align: center;
}
.name-container{
  max-width: 100%;
  padding: 1px;
}

.mCard{
  padding-right: 0px;
  padding-left: 0px;
  max-width: 500px;
}

.cCard{
  width: 100%;
}

.user-container{
}

.register{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.center{
  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {
  .mCard{
    padding-right: 0px;
    padding-left: 0px;
    max-width: 350px;
  }
}


