.cart{
  padding: 10px;
  width: 300px;
  max-height: 450px;
  overflow: auto;
}

.table-width {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.size{
  font-size: 10px;
}

.center {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.column-size{
  width: 100px;
}

.right{
  flex-direction: column;
  justify-content: right;
  text-align: right;
}

.green{
  color: green;
  margin: -15px;
}

.red{
  color: red;
  margin: -15px;
}

.btn-size-25{
  width: 25%;
  border-radius: 0px;
}

.btn-size-75{
  width: 75%;
  border-radius: 0px;
}

.green-btn{
  color: green;
}

.actions{
  padding-top: 10px;
  padding-bottom: 10px;
}

