mat-card-title {
  text-align: center;
}
.name-container{
  max-width: 100%;
  padding: 1px;
}

.mCard{
  margin: 0 auto;
  max-width: 500px;
}

.cCard{
  width: 100%;
}

.user-container{
  padding: 10px;
}

.register{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-toolbar{
  max-width: 50%;
  alignment: left;
  margin: 0 auto;
}
mat-toolbar-row{
  font-size: 15px;
  align-content: center;
  height: fit-content;
  width: auto;
}
.profile {
  margin: 1vh;
}
mat-spinner{
  size: 15px;
  align-self: center;
}
