<form class="example-form" [formGroup]="productArea">
  <ng-container *ngIf="success == false">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Ej. Tecnologia" formControlName="name">
      <mat-error *ngIf="productArea.get('name').hasError('required')">
        Nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="Ej. el futuro es hoy..." formControlName="description"></textarea>
      <mat-error *ngIf="productArea.get('description').hasError('required')">
        Descripcion es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>
    <button [disabled]="productArea.invalid" class="w-100 green" mat-stroked-button (click)="saveProductArea()">
      GUARDAR
    </button>
  </ng-container>
  <ng-container *ngIf="success == true">
    <div class="alert alert-success" role="alert">
      El objeto fue creado correctamente!
    </div>
  </ng-container>
  <ng-container *ngIf="failure == true">
    <div class="alert alert-success" role="alert">
      Error al guardar! Intente nuevamente.
    </div>
  </ng-container>
</form>
